{% extends 'base.html' %}

{% block content %}
<h1>Expense Categories</h1>
<table>
    <thead>
        <tr>Name</tr>
        <tr>Number of receipts</tr>
    </thead>
    <tbody>
        {% for category in expensecategory_list %}
        <tr>
            <td>{{category.name}}</td>
            <td>{{ category.receipts.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
